body *{
    font-family: 'Open Sans', sans-serif;
    color: #2e1224;
    line-height: normal;
}

h1 {
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 72px;
    padding: 50px;
    color: white;
    text-align: center;
    background-color: #2e1224;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    letter-spacing: 2px;
}

body {
    background-color: lightgray;
}

.page {
    width: 850px;
    background-color: #c69a72;
    margin: auto;
    padding-bottom: 5px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
    padding-left: 50px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    border-radius: 5px;
    /* padding: 3px; */
    /* background-color: #5F4842; */
}

.small-font {
    font-size: 14px;
}

.description-paragraph {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -10px;
    border-radius: 50px;
    color: #2e1224;
    font-size: large;
    line-height: normal;
    font-weight: lighter;
}

p {
    padding-left: 50px;
    padding-right: 50px;
}

.vega-embed.has-actions {
    padding-left: 50px;
}

.vega-embed summary {
    display: none;
}

.highlight-desc-text {
    font-weight: 1000;
    font-size: larger;
    color: #140810;
}

.map-div {
    margin-top: -50px;
}

.heading-left {
    font-family: 'Lobster';
    font-size: 25px;
    margin-left: 70px !important;
    background-color: #2e1224;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.heading-right {
    font-family: 'Lobster';
    font-size: 25px;
    margin-right: 70px !important;
    background-color: #2e1224;
    color: white;
    padding: 20px;
    text-align: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-map {
    padding-left: 50px;
    padding-right: 0px;
}

.highlight-p-text {
    color: #140810;
    font-size: 18px;
    font-weight: 900;
}

.img-left-head {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
